<!DOCTYPE html>
<html>

<head>
    <title>Đặt hàng thành công</title>
</head>

<body>
    <p>Hello {{email}},</p>
    <p>Khách hàng: {{thongTinGiaoHang.thongTinNguoiNhan.tenNguoiNhan}}</p>
    <p>Chúc mừng khách hàng đã đặt hàng thành công ! </p>
    <p>Mã đơn hàng: <span style="margin-left: 10px; display: inline-block; background-color: rgb(170, 170, 170); border-radius: 10px; padding: 5px 7px;">{{maDonHang}}</span></p>
    <p>Ngày giao hàng dự kiến: <span style="margin-left: 10px; display: inline-block;">{{thongTinGiaoHang.ngayNhanHangDuKien.ngayBatDau}} - {{thongTinGiaoHang.ngayNhanHangDuKien.ngayKetThuc}}</span></p>
    <p>Danh sách</p>
    <div style="width: 100vw">
        {{#each danhSach}}
        <div style="margin: 10px; width: 100%; display: flex; justify-content: space-between;">
            <img src="{{this.sach.hinhAnh.url}}" style="width: 70px; height: 100%; margin-right: 10px"/>
            <div>
                <p style="margin: 0 0 10px 0; font-weight: bold; font-size: 13px">{{ this.sach.tenSach }}</p>
                <span style="margin-left: 10px;">SL: {{this.soLuong}}</span>
            </div>
        </div>
        {{/each}}
    </div>
    <p>Tổng giá: {{tongGia}}VND</p>


    <img src="cid:logo" />
</body>

</html>